#content {
  margin: 0 auto;
  width: 25%;
}

.chat {
  text-align: center;
  border: 1px solid;
  border-color: #2B4F3C;
}

.chat-title {
  background-color: #8BFFC1;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 1em);
  border-bottom: 1px solid;
  border-color: #2B4F3C;
  padding: 0.5em;
}

.chat-title h2, h3 {
  margin: 0;
  padding: 0;
}

.sent-by-user {
  text-align: right;
  padding: 1em 1em 1em 5em;
}

.sent-by-other {
  text-align: left;
  background-color: #F7F7F7;
  padding: 1em 5em 1em 1em;
}

.message {
  margin: 0em;
}

.chat-field input {
  width: 100%;
  height: 3em;
  border: none;
  border-top: 1px solid;
  border-color: #2B4F3C;
  padding-left: .5em;
}

.login {
  width: 100%;
}

.login input {
  width: 100%;
  height: 3em;
  padding: 1em;
}

.users ul {
  list-style-type: none;
}

.users ul li {
  display: inline-block;
  font-size: 1.5em;
  margin: .5em;
  border: 1px solid;
  padding: .5em;
  cursor: pointer;
}
